.list {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--size-12), var(--size-12))
  );
  gap: var(--size-3);
  align-content: start;
  grid-template-rows: max-content; /* Set max height to height of children */
  justify-content: center;
}

a {
  text-decoration: none;
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
  color: var(--stone-10);
}

.artwork > article {
  padding-bottom: 0;
}

.list {
  padding-left: var(--size-8);
  padding-right: var(--size-8);
}

.paginationButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-8);

  padding-top: var(--size-4);
  padding-bottom: var(--size-8);
}


.button > svg {
  filter: none;
}

.button:hover:not([disabled]) {
  border: 2px solid var(--stone-10);
  box-shadow: none;
}

.list > li > a > div > article > div {
  transition: transform 0.4s ease-out;
}

.list > li:hover > a > div > article > div {
  transform: scale(1.06) translateZ(0);
}
