.header {
  margin-bottom: var(--size-5);
  display: grid;
  justify-content: center;
}

.shake {
  animation: var(--animation-shake-x) forwards;
  animation-duration: 0.5s;
}

.register {
  margin-top: var(--size-3);
  text-align: right;
}

.header ~ * {
  display: grid;
  justify-content: center;
}
