.logo {
  transition: all 0.6s ease-in-out;
  filter: saturate(0%);
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  cursor: pointer;
}
.logo-svg {
  transform: translateY(4%);
}
.logo:active {
  animation: hueRotationOnce 1s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
  .logo:hover {
    transform: scale(1.06) translateZ(0);
    animation: hueRotation 2s infinite linear;
    filter: saturate(100%);
  }
}

@keyframes hueRotation {
  0% {
    filter: hue-rotate(0deg) saturate(2) brightness(1.1);
  }
  100% {
    filter: hue-rotate(360deg) saturate(2) brightness(1.1);
  }
}

@keyframes hueRotationOnce {
  0% {
    transform: translateZ(0);
    filter: hue-rotate(0deg);
  }
  50% {
    transform: scale(1.06) translateZ(0);
    filter: hue-rotate(360deg) saturate(2) brightness(1.1);
  }
  100% {
    transform: translateZ(0);
    filter: hue-rotate(0deg);
  }
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0px) translateZ(0);
  }
  50% {
    transform: translateY(-9px) translateZ(0);
  }
  100% {
    transform: translateY(0px) translateZ(0);
  }
}

@keyframes floatAnimation2 {
  0% {
    transform: translateY(0px) translateZ(0);
  }
  50% {
    transform: translateY(-10px) translateZ(0);
  }
  100% {
    transform: translateY(0px) translateZ(0);
  }
}

@keyframes floatAnimation3 {
  0% {
    transform: translateY(0px) translateZ(0);
  }
  50% {
    transform: translateY(-12px) translateZ(0);
  }
  100% {
    transform: translateY(0px) translateZ(0);
  }
}

.logo-animation,
.logo-animation-blur {
  animation: rotateAnimation 20s linear infinite;
  transform-origin: center;
}

.petals-container {
  transform: scale(0.7);
}

.petals-container :nth-child(1) {
  animation: floatAnimation 7s ease-in-out infinite;
  animation-delay: -5s;
}

.petals-container :nth-child(2) {
  animation: floatAnimation2 7s ease-in-out infinite;
  animation-delay: -3s;
}

.petals-container :nth-child(3) {
  animation: floatAnimation3 7s ease-in-out infinite;
  animation-delay: -6s;
}

.petals-container :nth-child(4) {
  animation: floatAnimation 7s ease-in-out infinite;
  animation-delay: -2s;
}

.petals-container :nth-child(5) {
  animation: floatAnimation3 7s ease-in-out infinite;
  animation-delay: -1s;
}

.petals-container :nth-child(6) {
  animation: floatAnimation 7s ease-in-out infinite;
  animation-delay: -3s;
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: saturate(0%) brightness(10);
  }

  .logo:hover {
    filter: saturate(20%) brightness(10);
  }
}
