#root {
  margin: 0;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.body-container {
  display: grid;
  grid-template-areas:
    "drawing-container object-controls"
    "sliders-container rightside";
  grid-template-columns: 1fr 2fr;
  flex-grow: 1;
  gap: 0.8rem;
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .app {
    width: 100%;
  }

  .body-container {
    padding: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    max-height: 100vw;
  }
}

.body-container {
  display: grid;
  grid-template-areas:
    "drawing-container object-controls"
    "sliders-container rightside";
  grid-template-columns: 1fr 2fr;
  /* flex-grow: 1; */
  gap: 0.8rem;
  height: 100%;
  width: 100vw;
}

.drawing-container {
  display: flex;
  align-items: start;
  justify-content: center;
}

.dark-background {
  position: fixed;
  background-color: hsl(228, 2%, 30%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  z-index: -1;
  transition: all 1s ease-out;
}

.texture-background {
  position: fixed;
  /* background-image: url("/images/texturecloud.webp"); */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.12;
  background-size: cover;
  z-index: -1;
}

.footer {
  display: none !important;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  color: #2d2d2d50;
}

@media screen and (max-width: 480px) {
  .body-container {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    overflow: hidden;
  }

  .footer {
    display: flex !important;
    justify-content: flex-end;
    order: 5;
  }

  .footer > p {
    padding: 2.4rem;
  }

  .drawing-container {
    height: 100vw;
  }
}
