.object-controller {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  background-color: rgba(245, 245, 245, 0.8);
  border-radius: 32px;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.2), 0 0 16px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 480px) {
  .object-controller {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    background-color: rgba(245, 245, 245, 0.8);
    border-radius: 32px;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.2), 0 0 16px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  .object-controller > :nth-child(n + 3) {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    margin-top: 1rem;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    background-color: rgba(245, 245, 245, 0.8);
    border-radius: 999px;
    padding: 1rem;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.2), 0 0 16px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}

@media (prefers-color-scheme: dark) {
  .object-controller {
    background-color: var(--gray-6);
  }
}
